* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

section {
  padding: 60px 0;
}
